input {
    padding: 10px 10px;
    width: 25%;
}

button {
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(80, 151, 199);
    color: white;
}

#message span {
    background-color: rgb(171, 193, 236);
}